/*
  ------------------------
  FILE: _variables.scss
  CREATED: 04.12.2017
  CREATED BY: Karel Nguyen
  VERSION: 1.00
  ------------------------
*/

//fonts:
$font1: "Yrsa";
$font2: "Bree-Regular";
//------------------------

//colors:
$white: white;
$black: black;
$color-yellow: #E1DD00;
$color-grey: #636F83;
$nav-grey: #BEC8D9;
$color-light-black: #1F1E2D;
$color-light-black2: #0F131D;
$special-white: #D8D8D8;
$color-section2-bc: #151A25;
$footer-li-color: #46482D;
//------------------------

//typography:
$letter-spacing-1: 1px;
$h1-size: 40px;
$h2-size: 36px;
$font-size-xxlarge: 24px;
$font-size-xlarge: 22px;
$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 16px;
$light: 300;
$regular: 400;
$bold: 600;
//------------------------

//breakpoints:
$breakpoint-desktop: 1290px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 800px;
$breakpoint-phone: 600px;
//------------------------
